body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(42, 29, 27);
  color: white;
}

:root {
  --topbar-height: 50px;
}

.file {
  padding: 10px;
  list-style: none;
  user-select: none;
  cursor: default;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
  overflow: hidden;
  border-radius: 5px;
}

img.file-icon {
  border-radius: 5px;
  object-fit: scale-down;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

div.file-icon i {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(203, 203, 217);
}

.file-icon {
  width: 50px;
  height: 50px;
  pointer-events: none;
  margin-right: 10px;
}

.file-name {
  width: calc(100% - var(--topbar-height));
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

.file:hover {
  background: rgba(238, 238, 238, 0.074);
}

.file.selected {
  background: rgba(238, 238, 238, 0.074);
  border-left: 5px solid #2196f3;
}

#tab-view {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.tab {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.tab.active {
  background: rgba(91, 91, 112, 0.107);
}

.tab-content {
  width: calc(100% - 20px);
  height: calc(100% - var(--topbar-height) - 20px);
  margin-top: var(--topbar-height);
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
  /* Make there be a maximum of 4 rows */
  grid-auto-rows: minmax(100px, 200px);
  padding: 10px;
}

.tab-topbar {
  position: absolute;
  top: 0;
  height: var(--topbar-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5a5a76;
  background: #322525;
}

.tab-title {
  background: none;
  max-width: 500px;
  width: calc(100% - 20px);
  margin: 0 10px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  color: rgb(194, 194, 194);
}

.tab.selected {
  background: rgb(249, 249, 249);
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #5a5a76;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a76;
}

::-webkit-scrollbar-corner {
  background: #1e1e1e;
}

.topbar-button {
  padding: 0 20px;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.1s, opacity 0.3s;
}

.topbar-button:hover {
  background: rgba(238, 238, 238, 0.074);
}

.topbar-button:active {
  transition: background 0s;
  background: rgba(238, 238, 238, 0.2);
}

.tab-back-inactive {
  opacity: 0.6;
  pointer-events: none;
}

.file-dragover {
  border: 1px solid #2195f361;
}