body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.file {
  padding: 10px;
  list-style: none;
  user-select: none;
  cursor: default;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
}

img.file-icon {
  margin-right: 10px;
  width: auto;
  height: 50px;
}

div.file-icon i {
  font-size: 30px;
  margin-right: 10px;
}

.file:hover {
  background: #eee;
}

.file.selected {
  background: #eee;
  border-left: 5px solid #2196f3;
}

#tab-view {
  display: flex;
  background: white;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.tab {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.tab-content {
  width: 100%;
  height: calc(100% - 50px);
  margin-top: 50px;
  overflow-y: auto;
}

.tab-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
  font-size: 16px;
  padding: 10px;
  background: white;
}

.tab.selected {
  background: rgb(249, 249, 249);
}
